@model Cart


@if(Model?.Items.Count() > 0)
{
    <div class="text-white">
        <small>
            @Model?.Items.Sum(i => i.Quantity) Adet Ürün
            @Model?.CalculateTotal().ToString("c")
        </small>
        <a href="/Cart" class="btn btn-sm btn-warning">Sepete Git</a>
        <a class="btn btn-sm btn-danger" asp-page="/Cart" asp-page-handler="Clear">Sepeti Temizle</a>
    </div>
    
    
}